.ease-out {
  @include transition(all 0.3s ease-out);
}

.full-width {
  width: 100vw;
  max-width: 100vw;
}

.full-width-mobile {
  @media (max-width: 992px) {
    width: 100vw;
    max-width: 100vw;
  }
}

.min-full-height {
  min-height: 100vh;
}

.min-full-height-mobile {
  @media (max-width: 992px) {
    min-height: 100vh;
  }
}

.full-height {
  height: 100vh;
}

.full-height-mobile {
  @media (max-width: 992px) {
    height: 100vh;
  }
}

.margin-zero {
  margin: 0;
}
