/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700;800&display=swap');

/* All elements */
body { font-family: $font_primary; }

/* Titles */
h1 { font-weight: bold; }
h2 { font-weight: 200; }
h5 { font-weight: 500; }