.register {
  @extend .pl-0;
  @extend .pr-0;
  @extend .full-width-mobile;
  @extend .full-height-mobile;
  @extend .background-page;
  position: absolute;
  overflow: hidden;
  display: table;

  .form {
    // @extend .full-width;
    // z-index: 1;
    width: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    z-index: 2;

    header {
      margin: 5% 0 0 5%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;

      img {
        @extend .mt-5;
        @extend .ml-5;
        @extend .mr-3;
        max-width: map-get($image-sizes, logo-mobile);
      }
      h1 {
        @extend .mt-5;
        @extend .ml-5;
        @extend .font-family-primary;
        @extend .font-weight-medium;
        @extend .font-size-1;
        @extend .line-height-1;
        @extend .color-secondary-80;
      }
    }

    form {
      @extend .pb-5;
      @extend .half-height;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
  }

  .nature {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    .shadow,
    .left,
    .right,
    .bottom {
      position: absolute;
    }

    .shadow {
      @extend .background-curtain;
      width: 103%;
      margin: 0 0 0 -3%;
      height: inherit;
      z-index: inherit;
    }
    .left {
      width: 60%;
      margin: 0 0 -10% -25%;
      bottom: 0;
    }
    .right {
      width: 70%;
      margin: -2% -40% 0 0;
      right: 0;
    }
    .bottom {
      width: 110%;
      margin: 0 0 -35% 0%;
      bottom: 0;
    }
  }

  // @media (min-width: 300px) {
  // font-size: $font_size * 0.7;
  // }
  // @media (min-width: 576px) {
  // font-size: $font_size * 0.8;
  // }
  // @media (min-width: 768px) {
  // font-size: $font_size * 0.9;
  // }
  @media (min-width: 992px) {
    height: 60vw;
    max-height: 600px;
    box-shadow: map-get($box-shadows, register);
    border-radius: map-get($border-radius, big);

    .form {
      header {
        margin: 5% 0 0 5%;
        flex-direction: row;

        img {
          max-width: map-get($image-sizes, logo);
        }
      }
    }

    .nature {
      .shadow {
        width: 103%;
        margin: 0 0 0 -3%;
        bottom: 0;
      }
      .left {
        width: 35%;
        margin: 18% 0 0 -10%;
        bottom: auto;
      }
      .right {
        width: 35%;
        margin: -4% -8% 0 0;
      }
      .bottom {
        width: 75%;
        margin: 0 0 -30% 10%;
      }
    }
  }

  // Loading
  &.register--loading {
    background-color: black !important;
  }

  // Start
  &.register--start {
    // @extend .background-color-primary;
    // @extend .pt-2;
    // @extend .pb-2;
    // height: 60px;
    // background: linear-gradient(190deg, transparentize($accent, 0.3), transparentize($accent-hover, 0.5));

    // display: grid;
    // grid-template-columns: 50vw;
    // grid-template-rows: 50px;
    // grid-auto-flow: column;
    // overflow: hidden;

    // &.page {
    //   @extend .background-color-primary;
    //   background: linear-gradient(180deg, transparentize($accent, 0.3), transparentize($accent-hover, 0.5));
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;

    //   a {
    //     h1 {
    //       @extend .pt-0;
    //       @extend .pb-4;
    //       @extend .pl-0;
    //       display: flex;
    //       flex: 0;
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //     }
    //   }

    //   form {
    //     display: inline-block;
    //     flex: 0;

    //     .btn {
    //       @extend .ml-2;
    //       @extend .mr-2;
    //     }
    //   }
    // }

    // a {
    //   @extend .pt-1;
    //   text-decoration: none;

    //   h1 {
    //     @extend .pl-4;
    //     @extend .m-0;
    //     @extend .color-accent-hover;
    //     display: flex;
    //     flex: 1;
    //     justify-content: flex-start;
    //     align-items: center;

    //     .separator {
    //       @extend .pl-2;
    //       @extend .pr-2;
    //     }
    //   }

    //   h1,
    //   .term {
    //     @extend .color-accent;
    //     @extend .font-family-accent;
    //     @extend .font-size-2;
    //   }
    // }

    // form {
    //   @extend .text-right;

    //   .btn {
    //     @extend .ml-2;
    //     @extend .mr-4;
    //   }
    // }
  }

  // Form
  &.register--form {
    background-color: red !important;
  }

  // Form CTA
  &.register--form-cta {
    background-color: blue !important;
  }

  // Form Result
  &.register--end {
    background-color: pink !important;
  }
}
